<div class="col l3 m6 s12">
  <div class="card member">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{inhabitantElement.firstname + " "+inhabitantElement.lastname}}</span>
      <div class="fixed-action-btn halfway-fab-third horizontal">
        <a class="btn-floating btn-large orange">
          <i class="large material-icons">more_vert</i>
        </a>
        <ul>
          <li><a class="btn-floating blue darken-1" (click)="opentModifyInhabitantModal()"><i class="material-icons">create</i></a>
          </li>
          <li><a class="btn-floating color-primary" (click)="deleteInhabitant()"><i class="material-icons">close</i></a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col center s12 m5 l6">
          <img *ngIf="imageProfileId" class="circle responsive-img"
               src="http://localhost:3000/api/ImageFiles/{{imageProfileId}}/download"/>
        </div>
        <div class="col s12 m7 l6">
          <p style="display:inline"> Roles : </p>
          <p style="display:inline" *ngFor="let role of inhabitantElement.roles">{{(role.name|capitalize)+" "}}</p><br>
          <p> Email : {{inhabitantElement.email}}</p>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div>

<div id="addMember" class="modal col s12 m6 offset-m3 l4 offset-l4 z-depth-6" materialize="modal"
     [materializeParams]="[{dismissible: true}]"
     [materializeActions]="modalAddMemberActions">
  <div class="modal-content">
    <div class="row">
      <app-inhabitant-modifier (closeEvent)='closeAddMemberModal()'
                               [inhabitant]="inhabitantElement"></app-inhabitant-modifier>
    </div>
  </div>
</div>

