  <div class="col l3 s12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="material-icons medium">error_outline</i></span>

      <div class="info-box-content">
        <span class="info-box-text">Incident non résolu</span>
        <span class="info-box-number">{{numberOfUnresolved}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col l3 s12">
    <div class="info-box">
      <span class="info-box-icon bg-orange"><i class="material-icons medium">cached</i></span>

      <div class="info-box-content">
        <span class="info-box-text">Incident en cours de résolution</span>
        <span class="info-box-number">{{numberInProcess}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col l3 s12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="material-icons medium">check</i></span>

      <div class="info-box-content">
        <span class="info-box-text">Incident résolu</span>
        <span class="info-box-number">{{numberResolved}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>


  <div class="col l3 s12">
    <div class="info-box">
      <span class="info-box-icon bg-purple"><i class="material-icons medium">timer</i></span>

      <div class="info-box-content">
        <span class="info-box-text">Incident en retard non résolu</span>
        <span class="info-box-number">{{numberLate}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
